{% extends 'store/base.html' %}

{% block content %}
    <h2>{{ record.title }}</h2>
    <p>Autor: {{ record.artist }}</p>
    <p>Género: {{ record.genre }}</p>
    <p>Precio: ${{ record.price }}</p>
    <p>Stock: {{ record.stock }}</p>  
    {% if record.image %}
        <img src="{{ record.image.url }}" alt="{{ record.title }}" style="width: 200px;">
    {% endif %}

    {% if user.is_staff %}  
        <a href="{% url 'edit_record' record.id %}">Editar Disco</a>
    {% endif %}
{% endblock %}
