{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h2>{% trans "Discos por" %} {{ filter_type }}: {{ filter_value }}</h2>

    <div class="records-container">
        {% for record in records %}
            <div class="record">
                <a href="{% url 'record_detail' record.id %}">
                    <h3>{{ record.title }}</h3>
                </a>
                <p>{% trans "Autor:" %} {{ record.artist }}</p>
                <p>{% trans "Género:" %} {{ record.genre }}</p>
                <p>{% trans "Precio:" %} ${{ record.price }}</p>
                {% if record.image %}
                    <img src="{{ record.image.url }}" alt="{{ record.title }}">
                {% endif %}
            </div>
        {% empty %}
            <p>{% trans "No se encontraron discos para este" %} {{ filter_type }}.</p>
        {% endfor %}
    </div>
{% endblock %}