{% extends 'base.html' %}

{% block content %}
    <h2>{{ record.title }}</h2>
    <p>Autor: <a href="{% url 'records_by_filter' filter_type='artist' filter_value=record.artist %}">{{ record.artist }}</a></p>
    <p>Género: <a href="{% url 'records_by_filter' filter_type='genre' filter_value=record.genre %}">{{ record.genre }}</a></p>
    <p>Precio: ${{ record.price }}</p>
    <p>Stock: {{ record.stock }}</p>  
    {% if record.image %}
        <img src="{{ record.image.url }}" alt="{{ record.title }}" style="width: 200px;">
    {% endif %}

    {% if user.is_staff %}  
        <a href="{% url 'edit_record' record.id %}">Editar Disco</a>
    {% endif %}
{% endblock %}
